<html>
<head>AVAILABLE DOMAINS FOR THIS WEBAPP- [college managment system demo]</head>
<body>
<legend><fieldset>
<div><button><a href="/admin">ADMIN PANEL</a></button></div>
<h4>direct link for administrative tasks.</h4>
<div>
<button><a href="/managestudent">ADMIN STUDENT</a></button>
<button><a href="/managefaculty">ADMIN FACULTY</a></button>
<button><a href="/managecourse">ADMIN COURSE</a></button>
</div>
<br></br>
<div>
<button><a href="/faculty">FACULTY</a></button>
<button><a href="/student">STUDENT</a></button>
</div>

</fieldset></legend>
<br></br>
<legend>REMAINING TASK<legend>
<fieldset>
<div><p>[*] adding option for CREATE/UPDATE/DELETE for admin on all tables.</p><div>
<div><p>[*] authentication of admin for using admin panel (OAuth)</p><div>
<div><p>[*] create a application submission form for student/faculty for submitting to admin.</p><div>
<div><p>remaining task to be updated here</p><div>
<div><p>remaining task to be updated here</p><div>
<div><p>remaining task to be updated here</p><div>
</fieldset>
</body>
</html>
