<!DOCTYPE html>
<html>
<head>
    <title>LOGIN PANEL</title>
</head>
<body>

    <style type="text/css">
    
    #text{

        height: 25px;
        border-radius: 5px;
        padding: 4px;
        border: solid thin #bbb;
    }

    #button{

        padding: 10px;
        width: 100px;
        color: white;
        background-color: red;
        border: none;
    }

    #box{

        background-color: purple;
        margin: auto;
        width: 300px;
        padding: 20px;
    }
    
    </style>

    <div id="box">
    
        <form method="post">
            <div style="font-size: 20px;margin: 10px;color: white;">LOGIN PANEL</div>

            <h5>USERNAME</h5>
            <input id="text" type="text" name="user_name"   > 
            <h5>PASSWORD</h5>
            <input id="text" type="password" name="password"> 
            <input id="button" type="submit" value="Login"><br><br>
        </form>
    <p>remember to add 30%,60%,90% colour combination for this page</p></div>
</body>
</html>
