<!DOCTYPE html>
<html lang="en">
<body>
  <head>
     
     
    <title>COURSE</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  </head> 
  
  <h1>COURSES</h1>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>YEAR</th>
        <th>DURATION</th>
        <th>STATUS</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
      {% for course in course %}
        <tr>
          <td>{{ course[0] }}</td>
          <td>{{ course[1] }}</td>
          <td>{{ course[2] }}</td>
          <td>{{ course[5] }}</td>
          <td>{{ course[4] }}</td>


        
      {% endfor %}
    </tbody>
  </table>

<h2> TRY TO CREATE UPDATE AND DELETE FUNCTIONALITY INTO DATA TABLE ITSELF </h2>
 
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
          
      });
    });
    </script>

  </body>
</html>
